<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword"
          content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://rawgit.com/Foliotek/Croppie/master/croppie.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.13/daterangepicker.min.css"/>

    <title>•accuracy</title>

    <!-- Main styles for this application -->
    <link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Bootstrap and necessary plugins -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>

    <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|PT+Sans+Narrow&display=swap" rel="stylesheet">
    {#    <script type="text/javascript" src="https://rawgit.com/Foliotek/Croppie/master/croppie.js"></script>#}
</head>

<!-- BODY options, add following classes to body to change options
  // Header options
  1. '.header-fixed'					- Fixed Header
  // Sidebar options
  1. '.sidebar-fixed'					- Fixed Sidebar
  2. '.sidebar-hidden'				- Hidden Sidebar
  3. '.sidebar-off-canvas'		- Off Canvas Sidebar
  4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
  5. '.sidebar-compact'			  - Compact Sidebar
  // Aside options
  1. '.aside-menu-fixed'			- Fixed Aside Menu
  2. '.aside-menu-hidden'			- Hidden Aside Menu
  3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu
  // Breadcrumb options
  1. '.breadcrumb-fixed'			- Fixed Breadcrumb
  // Footer options
  1. 'footer-fixed'						- Fixed footer
-->

<body class="header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">

{% block login %}
{% endblock %}

{% block signup %}
{% endblock %}
<!-- Navbar -->
<!-- <div ng-include="'views/common/navbar.html'" include-replace></div> -->

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brandg" style="position: absolute;left: 3%;">
        <h2 style="font-size: 20px;font-weight: bold;">•accuracy</h2>
    </a>
    <ul class="nav navbar-nav d-md-down-none">
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">
                <div align="center">
                    <img src="{{ userdata.image }}" class="img-avatar" alt="{{ userdata.name }}"><br>
                    <strong> {{ userdata.name }} </strong>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" href="{% url 'signout' %}"><i class="fa fa-lock"></i>
                    Logout {{ userdata.name }}</a>
            </div>
        </li>


    </ul>
</header>

<div class="app-body">
    <!-- Navigation -->
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item" style=" ">
                    <br>
                    <div style="text-align: center;">
                        <img src="{{ userdata.image }}" alt="{{ userdata.name }}" class="img-avatar"
                             style="width:100px"><br>

                        <h2><strong> {{ userdata.name }} </strong></h2></div>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{% url 'user_project_index' %}"><i class="icon-pie-chart"></i>My
                        Projects
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="{% url 'market_project_index' %}"><i class="icon-pie-chart"></i>Market
                        Projects
                    </a>
                </li>
                {% if userdata.role == 'org' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_market_project' %}"><i class="icon-layers"></i>Add
                            Market
                            Project
                        </a>
                    </li>
                {% endif %}
                {% if userdata.role == 'ds' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_custom_project' %}"><i class="icon-layers"></i>Add
                            Custom
                            Project
                        </a>
                    </li>
                {% endif %}
                {% if userdata.role == 'ds' %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload_model' %}"><i class="icon-puzzle"></i>Add Models &
                            Pickle
                        </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}"><i class="fa fa-lock"></i>Sign Out
                    </a>
                </li>
            </ul>
            </li>

            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main" style="min-height: 900px;">
        <!-- Breadcrumb -->
        <br>

        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>

    </main>

</div>

<footer class="app-footer ng-scope">
    <span><a href="">accuracy</a> © 2019 </span>
    <span class="ml-auto">Powered by InnoSoft </span>
</footer>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>