{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="animated fadeIn ng-scope">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">

                            <strong>Add Market Project </strong>
                        </div>
                        <div class="card-body">
                            <form class="ng-pristine ng-valid" action="{% url 'create_market_project' %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if message %}
                                    <script>
                                        alert('{{ message }}')
                                    </script>
                                {% endif %}
                                <div class="form-group">
                                    <label for="nf-email">Main title </label>
                                    <input type="text" name="title" id="nf-email"
                                           class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                           placeholder="Enter Name..">
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Short Description
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" cols="30" name="short_desc"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Full Description
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="4" cols="30" name="description"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>

                            <div class="form-group row">
                                    <div class="col-md-6" >

  <b> Start date:</b>
                                <input type="date"  class="form-control ng-pristine ng-untouched ng-valid ng-empty"  name="start_date">


                                             </div>
                                    <div class="col-md-6">
   <b>End date </b>
                                <input type="date"   class="form-control ng-pristine ng-untouched ng-valid ng-empty"name="end_date"><br>

                                    </div>
                                </div>




                                {#                                Make select option#}
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Evaluation Rules
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" cols="30" name="eval_rules"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Rules
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" cols="30" name="rules"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Prizes
                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="2" cols="30" name="prizes"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>

                                <div class="card-body">

                                          <label class="col-md-4 col-form-label" for="textarea-input">JSON
                                    </label>

                      <label  class="label" for="test">
                        <div class="lll">Click or drop something here</div>
                          <input type="file" type="file" name="file" id="file"  >
                      </label>
                                    </div>
                            <div>

                                <div class="form-group col-md-6">
                                    <label for="nf-email">Required fields </label>
                                    <select class="form-control" name="req_cols" id="req_cols" multiple></select>

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="nf-email">Optional fields </label>
                                    <select class="form-control" name="opt_cols" id="opt_cols" multiple></select>

                                </div>


                            </div>


                                <div class="form-group">
                                    <label for="nf-email">Percentage </label>
                                    <input type="number" min="0" max="100" name="percentage"
                                           class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                                </div>

                                <center>
                                    <button style="padding: 10px;font-size: 14px;border-radius: 14px;" type="submit"
                                            value="Submit" class="btn btn-sm btn-primary"><i
                                            class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </center>
                            </form>
                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>

    <script>
        (function () {
            function onChange(event) {
                var reader = new FileReader();
                reader.onload = onReaderLoad;
                reader.readAsText(event.target.files[0]);
            }

            function onReaderLoad(event) {
                var select = document.getElementById('req_cols');
                var select2 = document.getElementById('opt_cols');
                $(select).html("");
                $(select2).html("");
                var options = "";
                //console.log(event.target.result);
                var obj = JSON.parse(event.target.result);
                //alert_data(obj);
                // console.log(obj);
                for (x in Object.values(obj)[0]) {
                    console.log(x);
                    options += "<option value=" + x + ">" + x + "</option>";
                }
                $(select).append(options);
                $(select2).append(options);
            }

            document.getElementById('file').addEventListener('change', onChange);
        }());
    </script>




{% endblock %}