<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {% if message %}
        <script>
            alert('{{ message }}')
        </script>
    {% endif %}
    Email:<br>
    <input type="email" name="email"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="SignIn">
    <button type="button" onclick="location.href='{% url 'signup' %}'">SignUp</button>
    {#<button type="button" onclick="location.href='{% url 'signUp' %}'>SignUp</button>#}
</form>
</body>
</html>