{% extends 'base.html' %}
{% load static %}
{% block content %}



    <div class="animated fadeIn ng-scope">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">

                            <strong>Add Market Project </strong>
                        </div>
                        <div class="card-body">
                            <form class="ng-pristine ng-valid" action="{% url 'market_project' %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if message %}
                                    <script>
                                        alert('{{ message }}')
                                    </script>
                                {% endif %}
                                <div class="form-group">
                                    <label for="nf-email">Main title </label>
                                    <input type="text" name="title" id="nf-email"
                                           class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                           placeholder="Enter Name..">

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label" for="textarea-input">Full Description

                                    </label>
                                    <div class="col-md-8">
                                        <textarea rows="3" cols="30" name="description" rows="10"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  placeholder="Content.."></textarea>
                                    </div>
                                </div>

                                <div class="card-body">


                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">JSON</span>
                                        </div>
                                        <input type="file" name="file" id="file" class="form-control">

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-file"></i></span>
                                        </div>

                                        <div> </div>
                                    </div>
                                    <br>
                                </div>

                            <div class="form-group">
                                    <label for="nf-email">Keys X </label>
                                     <select class="form-control" name="col" id="col" multiple></select>

                                </div>
                              <div class="form-group">
                                    <label for="nf-email">Keys Y </label>
                                     <select class="form-control" name="col2" id="col2" multiple></select>

                                </div>

                                <div class="form-group">
                                    <label for="nf-email">Percentage </label>
                                    <input type="number" min="0" max="100" name="percentage"
                                           class="form-control ng-pristine ng-untouched ng-valid ng-empty">

                                </div>


                                <center>
                                    <button style="padding: 10px;font-size: 14px;border-radius: 14px;" type="submit" value="Submit" class="btn btn-sm btn-primary"><i
                                            class="fa fa-dot-circle-o"></i> Submit
                                    </button>

                                </center>
                            </form>
                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>

<script>


  (function(){

    function onChange(event) {
        var reader = new FileReader();
        reader.onload = onReaderLoad;
        reader.readAsText(event.target.files[0]);
    }

    function onReaderLoad(event){
        var select = document.getElementById('col');
        var select2 = document.getElementById('col2');
        var options = "";

        //console.log(event.target.result);
        var obj = JSON.parse(event.target.result);
        //alert_data(obj);
       // console.log(obj);
        for (x in Object.values(obj)[0]) {
          console.log(x);
           options += "<option value="+x+">"+x+"</option>";
        }
            $(select).append(options);
            $(select2).append(options);

    }


    document.getElementById('file').addEventListener('change', onChange);

}());


</script>




{% endblock %}




























