{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Project {{ project.title }}</h1>
<div>
    <p>{{ project.description }}</p>
    <a href="{{ project.train_data.1 }}">JSON</a>
    <form action="{% url 'project_page' project.id %}" method="post">
        {% csrf_token %}

        <label> Model:
            <select name="mid">
                <option value="None">(select model)</option>
                {% for model in models %}
                    <option value="{{ model.mid }}">{{ model.name }}</option>
                {% endfor %}
            </select>
        </label>
        <input type="submit" value="Use model">
    </form>

    {% if project.results %}
        <ul>
        {% for resinfo in project.results %}
            <li>{{ resinfo.user.name }}: {{ resinfo.result }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}