<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {% if message %}
        <script>
        alert('{{ message }}')
        </script>
    {% endif %}
    Name:<br>
    <input type="text" name="name"><br>
    Email:<br>
    <input type="email" name="email"><br>
    Password:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="SignUp">
</form>
</body>
</html>