{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Projects</h1>
    <div class="animated fadeIn ng-scope">


        <div class="card-group mb-4">
            {% for project in projects %}
                <div class="col-sm-6 col-md-4 ng-scope" ng-repeat="p in Projects">
                    <div class="card" style="border: 1px solid #b1b1b1;margin: 0px;box-shadow: 1px 1px 1px #bdbfc2;">

                        {% if project.type == 'market' %}
                            <a href="{% url 'market_project_page' project.id %}"
                               style="text-decoration:none;color:black">
                                <div class="card-body ng-binding row">
                                    <div class="col-6">
                                        <center>
                                            <img src="{{ project.owner.image }}"
                                                 style="border-radius: 50%;border: 1px solid #e3e3e3;" width="80%"/>
                                        </center>
                                    </div>
                                    <div class="col-6">
                                        <h1> {{ project.title }} </h1>
                                        <h5> {{ project.type }}</h5>
                                        <span> {{ project.description }} </span>
                                    </div>
                                </div>
                            </a>
                        {% elif project.type == 'custom' %}
                            <a href="{% url 'custom_project_page' project.id %}"
                               style="text-decoration:none;color:black">
                                <div class="card-body ng-binding row">
                                    <div class="col-6">
                                        <center>
{#                                            Hardcode!?#}
                                            <img src="{{ project.owner.image }}"
                                                 style="border-radius: 50%;border: 1px solid #e3e3e3;" width="80%"/>
                                        </center>
                                    </div>
                                    <div class="col-6">
                                        <h1> {{ project.title }} </h1>
                                        <h5> {{ project.type }}</h5>
                                        <span> {{ project.description }} </span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}

                    </div>
                    <br>

                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}